*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: antiquewhite;
    /* background-size:cover;  */
}
.container{
    display: flex;
    height: 100%; 
    width: 100%;
     /* border: 10px ; */
    margin: 1px;
    margin-top: 1px;
    /* background-color: antiquewhite; */
    
    
} 
.container1{ 
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 800vh;
    width: 750px;
    /* background-color:  */
    opacity: 70%;
 
}
p{
    display: flex;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 50;
    margin: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;

}
h3{
    margin-top:  7rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 5rem;

}
.container1 a{
    background-color: black;
    color: whitesmoke;
    margin-left: 15rem;
    margin-right: 15rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    padding: 2rem;
}
.container2{
    display: flex;
   width:550px;
   max-height: 600vh;
   flex-direction: column;

}
.container2 img{
    margin-top: 8rem;
        order: 2;
        width: 600px;
        height: 700px;
        display: flex;
        object-fit: cover;
    
        /* flex-direction: column; */
        /* justify-content:center; */
        /* align-items: center; */
        /* object-fit: cover; */
}
@media(max-width: 400px){

    .container {

        flex-direction: column;
        max-height: 300vh;
        
    }
    .container2 img{
        width:350px ;
    }
}

    